<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/fields">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (currUser && currUser.role === 'admin') { %>
        <a class="nav-link" href="/fields/add">Add Field</a>
        <a class="nav-link" href="/fields/deactivated">Deactivated Field</a>
        <a class="nav-link" href="/admin/analytics">Analytics</a>

        <% } else if (currUser && currUser.role === 'user') { %>
        <a class="nav-link" href="/payment/users/transactions-history">Transactions</a>
        <% } %>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>
        <a class="nav-link" href="/login">Login</a>
        <% } else { %>
        <a class="nav-link" href="/users/<%= currUser.userID %>/profile"><%= currUser.role === 'admin' ? 'Admin' : 'Profile' %></a>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>