<% layout('layout/boilerplate.ejs') %>

<div class="container">
  <form method="POST" action="/fields" enctype="multipart/form-data">
    <div class="card">
      <h5 class="card-header">Add Field</h5>
      <div class="card-body">
        <div class="mb-3">
          <label for="field_name" class="form-label">Field Name</label>
          <input type="text" class="form-control" id="field_name" placeholder="Enter Field Name" name="name" required>
        </div>

        <div class="mb-3">
          <label for="field_price" class="form-label">Price</label>
          <input type="number" class="form-control" id="field_price" placeholder="Enter Price" name="price" min="0" required>
        </div>

        <div class="mb-2">
          <label class="form-label mb-0" for="image">Upload Image</label>
          <input class="form-control" type="file" name="images" id="image" multiple />

        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="court-open" class="form-label fw-semibold">Opening Time</label>
            <input type="text" id="field-open" name="openTime" class="form-control" required placeholder="HH:mm" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="court-close" class="form-label fw-semibold">Closing Time</label>
            <input type="text" id="field-close" name="closeTime" class="form-control" required placeholder="HH:mm" />
          </div>
        </div>

        <button class="btn btn-primary">Submit</button>

      </div>

    </div>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/js/flatpickr.js"></script>