<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Lorem Sports Center</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="/css/landing-page.css" />
</head>

<body class="d-flex flex-column min-vh-100">
  <main class="flex-grow-1">
    <div class="hero-div">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Apex Sports</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto gap-4">
              <li class="nav-item"><a class="nav-link" href="#AboutUs-section">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="hero-content container">
        <div class="row align-items-center">
          <div class="col-md-7">
            <h1 class="hero-title">FUEL YOUR COMPETITIVE SPIRIT</h1>
            <p class="hero-desc">Experience world-class arenas built to elevate your game, regardless of your skill level or discipline.</p>
            <a href="#" class="btn btn-light btn-lg hero-btn">Start Your Journey</a>
          </div>
        </div>
      </div>

      <img class="hero-img" src="/imgs/allison-saeng-VRqmHMYMq1c-unsplash.jpg" alt="" />
    </div>

    <section class="container my-5" id="AboutUs-section">
      <div class="row gx-5">
        <div class="col-lg-5 d-flex align-items-stretch mb-4 mb-lg-0">
          <div class="img-wrapper w-100">
            <img src="/imgs/marcos-paulo-prado-nIz3Er4bk3U-unsplash.jpg" class="img-fluid rounded big-img" alt="About image">
          </div>
        </div>

        <div class="col-lg-7 d-flex flex-column justify-content-between">

          <div class="mb-1">
            <h2 class="section-label mb-2">About Us</h2>

            <h3 class="title mb-4">
              Apex Sports – Redefining Athletic Excellence through
              <span class="highlight">Vision, Discipline,</span>
              and World-Class Infrastructure for Peak Performance.
            </h3>

            <p class="desc">
              At Apex Sports, we recognize that athletics is a catalyst for growth, community, and personal transformation. Our mission is rooted in delivering premier amenities, forward-thinking training environments, and a relentless commitment to every individual who walks through our doors.
            </p>

            <p class="desc">
              From aspiring novices to elite competitors, Apex stands as your dedicated ally. We provide the foundation you need to break barriers, surpass personal records, and realize your true athletic vision.
            </p>
          </div>

          <div class="row g-3">
            <div class="col-6">
              <div class="small-img-wrapper position-relative">
                <img src="/imgs/bradikan-ekV1JHu4vHI-unsplash.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>

            <div class="col-6">
              <div class="small-img-wrapper position-relative">
                <img src="/imgs/falaq-lazuardi-X8e08bGv4ag-unsplash.jpg" class="img-fluid rounded" alt="">
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>

</html>