* {
   font-family: "Lexend Deca", sans-serif;
}

.hero-div {
   position: relative;
   height: 100vh;
   overflow: hidden;
   background-color: black;
}

.hero-div::after {
   content: "";
   position: absolute;
   inset: 0;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1));
   z-index: 2;
}

.hero-img {
   width: 100%;
   height: 100vh;
   object-fit: cover;
   opacity: 0.65;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}

/* NAVBAR */
.navbar {
   position: absolute;
   top: 0;
   width: 100%;
   padding: 16px 40px;
   background: transparent !important;
   z-index: 10;
   border-bottom: 0.5px solid rgba(255, 255, 255, 0.06);
}

.navbar-brand {
   border-bottom: 0.5px solid rgba(255, 255, 255, 0.06);
}

.navbar .nav-link,
.navbar .navbar-brand {
   color: white !important;
   font-weight: 400;
}

.navbar .nav-link,
.navbar-brand {
   border-bottom: 1px solid transparent;
   transition: border-bottom-color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar-brand:hover {
   border-bottom-color: white;
}

/* HERO CONTENT */
.hero-content {
   position: relative;
   z-index: 3;
   height: 100vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 60px;
   color: white;
}

.hero-title {
   font-size: 5rem;
   font-weight: 700;
   line-height: 1.1;
   margin: 0;
}

.hero-desc {
   font-size: 1.2rem;
   opacity: 0.9;
   margin-bottom: 20px;
   margin-top: 20px;
   top: 0;
}

.hero-btn {
   border-radius: 30px;
   padding: 12px 32px;
   font-weight: 500;
   transition: 0.3s ease;
}
